{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Espacio Gamer{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'landing/styles.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'landing_page' %}">Espacio Gamer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'landing_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_list' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_profile' %}">Crear Usuario</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container flex-grow-1">
        {% block content %}{% endblock %}
    </div>
    <footer class="bg-light text-center text-lg-start mt-auto">
        <div class="container p-4">
            <div class="text-center p-3">
                © 2024 Espacio Gamer:
                <a class="text-dark" href="#">espacio-gamer.com</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
